<sticky-header icon="fa-question-circle" title="My Questions"></sticky-header>




<md-list class="">
<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>
<div class="list-item-cover shadow-md"
             ng-repeat="item in user_questions"  ng-init="item.index = $index">
<feed-item item="item" location="user-questions"></feed-item>
</div><!--ng-repeat-->
</md-list>
        
       
<div class="txt-center py10"  ng-show="user_questions.length > 0">
<span class="inline-block">
<button ng-click="loadMore()" class="md-primary mx0 my0 md-button md-raised px30 py5" ng-disabled="isFetching || disable_btn">{{btn_text}} &nbsp; <i class="fas {{btn_icon}}"></i> </button>
<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>
</span>
</div>