
<div class="abs-center block-responsive-only px20">

<div class=" inline-block  logger-base"  ng-init="stage = 0 ; ldata.is_masked = true " >


<md-progress-linear ng-show="isLoading" md-mode="indeterminate"></md-progress-linear>


<div class="px30-responsive pb30">
<form name="loginForm">
<div class="up_slider" ng-show="reqDone" ng-bind-html="login_message"></div>
<div ng-hide="hideForm">

<i class="fas fa-hidden"></i>



<div ng-hide="stage != 0"  class="boxme">
<div class="mb20 text-center ">
<span class="txt-lg bolder">We will be live soon!</span>
<p class="my0 py0 txt-sm txt-gray">While you wait, please sign up and review other sections of our app?</p>
</div>

<div class="relative mb15 block" layout="column">
<a href="register" class="utp primary" ng-click="ldata.user_type = 'mentor'">
<div class="" layout="row" layout-align="start center">
  <span class="pr20 uicon"> <i class="fas fa-user-plus"></i> </span>
<span flex class="pr10">
Create an Account
<span class="block"><span class="btn-text txt-sm" ng-click="lpc('mentor')">What is this site all about?</span></span>
</span>
<span> <i ng-if="ldata.user_type && ldata.user_type == 'mentor'" class="fas fa-check-circle"></i> </span>
</div>

</a>

</div>


</div><!--stage-0-ends-->





<div class="text-center py20">Already have an account? <a href="./login">Login here</a> </div>


</div><!--hideForm-->
</form>
</div>



</div><!--logger-base-->
</div><!--abs-center-->


</div>
</body>
</html>