



<div  layout-xs="column" layout-gt-xs="row" layout-gt-md="row" layout-gt-sm="row" class="pxy10">

<div class="d70 px20 py20 relative"  style="min-height:100px;" flex>

<div class=" bg-white curv border-radius-8">


<div class="abs-center" style="min-width: 80%; min-height: 40px;">
<meter max="4" id="password-strength-meter"></meter>
        <p ng-bind-html="text"></p>


</div>


</div><!--white-bb-->

</div><!--d70-->





<div class="entry-summary bordered border-radius-8" flex>
<md-progress-linear ng-show="isLoading" md-mode="indeterminate"></md-progress-linear>
<div class="border-bottom py15 boldest px20"><i class="fa fa-user-edit"></i>&nbsp;	EDIT HERE</div>
<md-divider></md-divider>

<div class="px20 py20" layout-align="start center">

	<md-input-container flex class="md-block">
		<label>Current Password</label>
		<input type="password" name="oldpassword" ng-model="ldata.oldpassword">
	</md-input-container>

	<md-input-container flex class="md-block">
		<label>New Password</label>
		<input type="password" name="password" ng-model="ldata.password" id="password" ng-change="check_pass(ldata.password)">
	</md-input-container>


	<md-input-container flex class="md-block">
		<label>Retype New Password</label>
		<input type="password" name="password2" ng-model="ldata.password2">
	</md-input-container>
		
<input type="hidden" name="id" ng-init="ldata.id = userData.id" ng-model="ldata.id">

<div layout="row">		
	<span flex>	</span>
	<span>
<button ng-click="resetPassword(ldata)" class="md-primary btn-md md-raised btn md-button px20">UPDATE PASSWORD</button>
</span>

</div>

</div><!--row-->




</div><!--d30-->


</div><!--row-->


