<div class="">

<div class="pos-top-marg row-home">
<div class="row-col-12 pr10 row-col-lg-6 home-intro color-white"> 
<div class="feature-card">
	<span class="fas fa-user-tie icon-feature color-mentor"></span>
	<h1>Mentor</h1>
<p>Need help with a certain
topic or course? Find a
Sensei to guide you right
now.</p>


<div class="intro-buttons block">
<a href="./register" class="intro-button primary">
GET STARTED
</a>
</div>

</div><!--feature-card-->
</div><!--col-->


<div class="row-col-12 pl10 row-col-lg-6 home-intro color-white"> 
<div class="feature-card">

<span class="fas fa-user-circle icon-feature color-user"></span>

	<h1>User</h1>

<p>Need help with a certain
topic or course? Find a
Sensei to guide you right
now.</p>


<div class="intro-buttons block">
<a href="./register" class="intro-button primary">
GET STARTED
</a>
</div>

</div><!--feature-card-->

</div><!--col-->
</div><!--row-home-->

</div>