<div class="py10">

	<md-progress-linear ng-show="isLoading" md-mode="indeterminate"></md-progress-linear>

	<div class="up_slider" ng-show="reqDone" ng-bind-html="login_message"></div>

<div class="mb10">
<input type="text" class="form-control input-sm"  required placeholder="Email Address" ng-model="data.email" required>
</div>

<div class="mb10">
<input class="form-control input-sm" required type="password" ng-model="data.password" placeholder="Enter your password">
</div>

<div class="mb10">
<button  ng-disabled="com_form.$error.required"
ng-click="doLogin(data)" class="md-primary md-raised px15 mx0 my0 md-button">
	<i class="fas fa-sign-in-alt"></i>&nbsp; Login </button>
</div>
<div class="txt-sm">
	Not yet registered?<a href="./register"> Sign Up here</a>
</div>

</div>