<sticky-header icon="fa-credit-card" title="Payments"></sticky-header>
<dash-header icon="fa-credit-card" pagetitle="Payments" sticky="true"></dash-header>
 
<div class="sticky bg-white px10 py10 border-top" layout="row" layout-align="center center">
<span flex>
	<input class="input-sm" type="search" ng-model="search.payments" placeholder="Search Payments">
</span>
<span flex class="text-right">
<md-button ng-click="submitPay()" class="md-primary md-raised px15 mx0 my0">
      SUBMIT <span class="sm-hide"> PAYMENT</span></md-button>
</div> 


<md-divider></md-divider>
<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>
<table class="table table-striped table-condensed">
<thead>
<tr>
<th class="txt-left">Username</th>
<th class="txt-center">Amount</th>
<th class="txt-center">Reference</th>
<th class="txt-center">Date</th>
<th class="txt-center">Status</th>
<th class="txt-right">Mode</th>
</tr>
</thead>
<tbody>
<tr  ng-repeat="item in ax = (payments | filter: search.payments)">
<td class="txt-left"><a ng-click="launchView(item)"><span class="bolder" ng-bind-html="item.user"></span></a></td>
<td class="txt-center"><span ng-bind-html="item.amount | currency:'₦'"></span></td>
<td class="txt-center"><span ng-bind-html="item.ref"></span></td>
<td class="txt-center"><span>{{item.date*1000 |  date:'dd/MM/yyyy h:mma'}}</span></td>
<td class="txt-center">
{{(item.status == 0 ? 'Pending':'') + ' ' + (item.status == 1 ? 'Completed':'') + ' ' + (item.status == -1 ? 'Failed':'') + ' ' + (item.status == -2 ? 'Abandoned':'')}}
</td>
<td class="txt-right"><span ng-bind-html="item.paymode"></span></td>
</tr>   
</tbody>
</table>


<div class="text-center txt-center py10" ng-show="payments.length > 0">
<span class="inline-block">
<button ng-click="loadMore()" class="md-primary mx0 my0 md-button md-raised px30 py5" ng-disabled="isFetching || disable_btn">{{btn_text}} &nbsp; <i class="fas {{btn_icon}}"></i> </button>
<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>
</span>
</div>


