

<md-menu md-position-mode="target-left target">
<a ng-click="$mdOpenMenu()"><i class="fas fa-sort"></i></a>
            <md-menu-content class="sida bg-white txt-sm py0" width="2">
              <md-menu-item  class="flat">
                <a class="bolder">
                 <i class="fas fa-sort txt-black"></i> &nbsp;Sort List
                </a>
              </md-menu-item>
            <md-menu-divider></md-menu-divider>



            <md-menu-item class="flat">
                <md-button  ng-click="sortTab = 0">
                 <i class="fas fa-hourglass-half"></i> &nbsp;Pending
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>

              <md-menu-item class="flat">
                <md-button  ng-click="sortTab = 1">
                 <i class="fas fa-check-circle"></i> &nbsp; Active
                </md-button>
              </md-menu-item>
            <md-menu-divider></md-menu-divider>

               <md-menu-item class="flat">
                <md-button ng-click="sortTab = -1">
                <i class="fas fa-exclamation-triangle"></i> &nbsp;Cancelled
                </md-button>
              </md-menu-item>
              <md-menu-divider class="mb0"></md-menu-divider>

        </md-menu-content>
        </md-menu-bar>
        