<sticky-header icon="fa-list" title="Activity Feed"></sticky-header>


<button href iclass class="btn-primary btn-sm btn-rounded" send-state="{{userData}}" send-stuff="true" actid="{{userData.uid+'-follow'}}">Send Stuff</button>

<input type="text" ng-model="userData.uid">

<md-list class="">
          <md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>

 
 <div class="list-item-cover shadow-md"
             ng-repeat="item in activity_feed"  ng-init="item.index = $index">
<feed-item item="item" location="feed-home"></feed-item>
          </div><!--ng-repeat-->
          </md-list>
        
       
<div class="txt-center py10"  ng-show="activity_feed.length > 0">
<span class="inline-block">
<button ng-click="loadMore()" class="md-primary mx0 my0 md-button md-raised px30 py5" ng-disabled="isFetching || disable_btn">{{btn_text}} &nbsp; <i class="fas {{btn_icon}}"></i> </button>
<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>
</span>
</div>