<sticky-header icon="fa-rss" title="Followings"></sticky-header>

<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>   
       
 <md-list class="">
<div class="list-item-cover shadow-md">
<md-subheader class="boldest">Following ({{user_public_following.length | number}})</md-subheader>
<div ng-repeat="item in user_public_following"  ng-init="item.index = $index">
<follow-item item="item" mode="followers"></follow-item>
</div><!--ng-repeat-->
</div><!--list-item-cover-->
</md-list>   

<div class="txt-center py10"  ng-show="user_public_following.length > 0">
<span class="inline-block">
<button ng-click="loadMore()" class="md-primary mx0 my0 md-button md-raised px30 py5" ng-disabled="isFetching || disable_btn">{{btn_text}} &nbsp; <i class="fas {{btn_icon}}"></i> </button>
<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>
</span>
</div>