

<div class="boxme">
<form name="payForm">

<md-progress-linear ng-show="isLoading" md-mode="indeterminate"></md-progress-linear>    
<div ng-bind-html="imessage"></div>
<div ng-hide="hideForm">

<div class="table-responsive">
<table class="table table-hover border mb0">
<thead></thead>
  <tbody>
	<tr>
		<td class="text-left align-middle bolder">Total Points</td>
		<td class="text-right align-middle">{{modaldata.total_points}}</td>
	</tr>
	<tr>
		<td class="text-left align-middle bolder">Total Earned</td>
		<td class="text-right align-middle">{{modaldata.total_earn | currency:'₦'}}</td>
	</tr>
</tbody>
</table>
</div>



<div class="pt10">
<button ng-disabled="payForm.$error.required.length>0 || modaldata.isLoading"
type="submit" class="uppercase btn btn-sm   btn-primary" ng-click="convertPoint(modaldata)">
<i class="fas {{modaldata.isLoading ? 'fa-circle-notch fa-spin':'fa-credit-card'}}"></i>
&nbsp;Convert Points</button>

</div>

</div>

</form>
</div>

