

<sticky-header ng-if="departmentLoaded"
icon="fa-stream" 
title="{{department_details.name}}"
item="department_details"
list="department_feed"
>
</sticky-header>


<div class="py10 bg-white sticky px10 border-bottom article-meta txt-gray" layout="row" 
layout-align="start center">
<span flex>
  <button class=" md-raised btn btn-clear px10"> 
  <span class="bolder"><i class="fas fa-question-circle"></i><span class="sm-hide">&nbsp;Topics</span></span>&nbsp;{{department_details.topics_num | number}}</button>
  <button class=" md-raised btn btn-clear px10"> 
  <span class="bolder"><i class="fas fa-edit"></i><span class="sm-hide">&nbsp;Answers</span></span>&nbsp;{{department_details.answer_num | number}}</button>


</span>

<div class="">
 <button ng-click="sItem('follow_topic')" 
  class=" md-raised btn btn-clear px10">
  <span class="bolder"><i class="fas fa-rss"></i><span class="sm-hide">&nbsp;Follow </span></span>&nbsp;{{department_details.department_follows | number}} </button> 
</div>
</div>



<md-list class="">
<!--<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>-->

<comment-holder></comment-holder>

<div class="list-item-cover shadow-md"
             ng-repeat="item in department_feed"  ng-init="item.index = $index">
<feed-item item="item" location="department-feed"></feed-item>
</div><!--ng-repeat-->
</md-list>
        
       
<div class="txt-center py10"  ng-show="department_feed.length > 0">
<span class="inline-block">
<button ng-click="loadMore()" class="md-primary mx0 my0 md-button md-raised px30 py5" ng-disabled="isFetching || disable_btn">{{btn_text}} &nbsp; <i class="fas {{btn_icon}}"></i> </button>
<md-progress-linear  md-mode="indeterminate" ng-show="isFetching"></md-progress-linear>
</span>
</div>