
<div class="cover-area" ng-init="usD = accountData.details">
	<div class="py10" layout="row" layout-align="start center"> 
<div class="profiler mr20">
	<span class="profile-large" style="background: url({{accountData.details.avatar}});"></span>
<div class="user-bio-info">@{{accountData.details.username}}</div>
</div><!--profiler-->

<div>
	{{accountData.details.bio}}
</div>

</div><!--row-->
</div><!--cover-area-->


<div class="">
	
<ul class="profile-tabs">
	<li>
		<a href="profile/{{username}}/details">Details</a>
	</li>
	<li>
		<a href="profile/{{username}}/questions">Questions</a>
	</li>
	<li>
		<a href="profile/{{username}}/answers">Answers</a>
	</li>
	<li>
		<a href="profile/{{username}}/articles">Articles</a>
	</li>
	<li>
		<a href="profile/{{username}}/stats">Stats</a>
	</li>
</ul>
</div><!--nav-->

{{usD | json}}