<div class="ini-pane">
    



                <div class="start-cards">
                    <a class="card-house">
                    <div class="card-content">
                    <div class="card-banner">
                     <span class="icon-base"> <i class="fas fa-folder-open"></i> </span>   
                    <h2>{{dashboard.balance | currency:'₦'}}</h2>
                    </div>
                    </div><!--card-content-->
                    <div class="base-action">
                    <span class="base-button">WALLET BALANCE</span>
                    </div><!--base-action-->
                    </a><!--outer--->
                    </div><!--start-card-->

<div class="start-cards">
<a class="card-house" href="account/queries">
<div class="card-content">
<div class="card-banner">
 <span class="icon-base"> <i class="fas fa-users"></i> </span>   
<h2>{{dashboard.queries | number}}</h2>
</div>
</div><!--card-content-->
<div class="base-action">
<span class="base-button">RERERRALS</span>
</div><!--base-action-->
</a><!--outer--->
</div><!--start-card-->



</div><!--init-pane-->